.u-section-1 .u-sheet-1 {
  min-height: 1381px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 471px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 652px;
  margin: 81px 570px 0 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 652px;
  margin: -475px 0 0 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 20px;
    margin-left: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 170px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-3 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 672px;
}

.u-section-2 .u-text-1 {
  margin: 65px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 65px 0 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 1853px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 226px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-3 .u-image-1 {
  height: 342px;
  width: 972px;
  object-position: 50% 17.27%;
  margin: 45px 0 0 auto;
}

.u-section-3 .u-text-3 {
  text-shadow: 1px 3px 0px rgba(0,0,0,1);
  margin: -342px 293px 0 168px;
}

.u-section-3 .u-text-4 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: -266px 972px 0 0;
}

.u-section-3 .u-image-2 {
  width: 969px;
  height: 353px;
  object-position: 50% 62.04%;
  margin: 293px 0 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: -380px 972px 0 0;
}

.u-section-3 .u-text-6 {
  text-shadow: -3px 2px 0px rgba(0,0,0,1);
  margin: -5px 0 0 172px;
}

.u-section-3 .u-image-3 {
  width: 367px;
  height: 266px;
  margin: 33px auto 0 130px;
}

.u-section-3 .u-text-7 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: -291px 972px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -51px 0 0 172px;
}

.u-section-3 .u-image-4 {
  width: 175px;
  height: 175px;
  margin: 142px 39px 0 auto;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  margin: 11px 39px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1831px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-image-1 {
    height: 331px;
    width: 940px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -277px;
    margin-left: 68px;
    margin-right: 193px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -331px;
    margin-right: 772px;
  }

  .u-section-3 .u-image-2 {
    height: 460px;
    margin-top: 233px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -427px;
    margin-right: 772px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 306px;
    height: 306px;
    margin-top: 127px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -382px;
    margin-right: 772px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -83px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 246px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1674px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-image-1 {
    height: 274px;
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -274px;
    margin-right: 105px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -266px;
    margin-right: 552px;
  }

  .u-section-3 .u-image-2 {
    height: 393px;
    margin-top: 312px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: -431px;
    margin-right: 552px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 38px;
    margin-left: 143px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 51px;
    margin-left: -22px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -344px;
    margin-right: 552px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -4px;
    margin-right: 55px;
    margin-left: 180px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 143px;
    margin-right: 31px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 8px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1546px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 2px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 372px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 310px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: -429px;
    margin-right: 372px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 189px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -450px;
    margin-right: 372px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -9px;
    margin-right: 0;
    margin-left: 142px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 226px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 0;
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 25px;
  }

  .u-section-3 .u-image-1 {
    height: 479px;
    margin-top: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-top: -387px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -472px;
    margin-right: 172px;
  }

  .u-section-3 .u-image-2 {
    height: 479px;
    margin-top: 403px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-top: -479px;
    margin-right: 172px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 2px;
  }

  .u-section-3 .u-image-3 {
    width: 203px;
    height: 170px;
    margin-top: 265px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -414px;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: -13px;
    margin-left: 0;
  }

  .u-section-3 .u-image-4 {
    margin-top: 172px;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    margin-right: 7px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 830px;
}

.u-section-4 .u-image-1 {
  width: 292px;
  height: 292px;
  margin: 282px auto 0 97px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -554px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 20px 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0 711px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 751px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-5 {
    margin-left: 511px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-4 .u-image-1 {
    width: 312px;
    height: 312px;
    margin-top: 292px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -584px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 291px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 38px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 311px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    height: 109px;
    width: 109px;
    margin-top: 171px;
    margin-right: 101px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -260px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 24px;
    margin-left: 141px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 151px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1365px;
  }

  .u-section-4 .u-image-1 {
    width: 151px;
    height: 151px;
    margin-top: 328px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -448px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 108px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 119px;
    margin-right: -10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 171px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}